.main {
    display: flex;
}

.mapContainer {
    flex-grow: 1;
    height: 100vh;
    top: 0;
    position: sticky;
<<<<<<< HEAD
=======
    background-color: blue;
>>>>>>> ad3ad32142c7beed89c7a8873463ef38a6c3b3b9
}

.breweriesContainer {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    background-color: lightgray;
    padding: 10px;
}
=======
    background-color: red;
  }
>>>>>>> ad3ad32142c7beed89c7a8873463ef38a6c3b3b9
