.main {
    display: flex;
}

.mapContainer {
    flex-grow: 1;
    height: 100vh;
    top: 0;
    position: sticky;
}

.breweriesContainer {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 10px;
}